---
layout: default
title: "STILL LYFE"
---
<script src="/JAIL/lib/jquery.js"></script>
  <script src="/JAIL/src/jail.js"></script>
  <script>
      $(function(){
          $('img.lazy').jail();
      });
  </script>

<div class="header">
  <div class="logo">
    <img title="STILL LYFE" alt="" src="images/STILL_LYFE_66-3.gif">
  </div>
</div>

<div class="home">

  <ul class="post-list">

    {% for post in site.categories.still_lyfe %}
      <li>
        {% if post.img %}
          <ul class="gallery {{post.categories}}">
          {% for img in post.img %}
            <li>
              <img class="lazy" src="{{site.baseurl}}/still_lyfe/images/placeholder.gif" data-src="{{site.baseurl}}/still_lyfe/images/{{img.src}}"/>
              <noscript>
                  <img src="{{site.baseurl}}/still_lyfe/images/{{img.src}}"/>
              </noscript>              
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
    
  </ul>

</div>
