.header {
  text-align: center;
  margin: 32px auto;
  max-width: 500px;
  // max-width: 100%;
  @include media-query($on-palm) {
    margin: 0 0 16px 0;
  } 
}

.tagline {
  color: white;
  color: #002554;
}

.logo {
  background: url(/still_lyfe/images/space-bg.gif);
  color: #002554;
  margin: 0 auto;
  max-width: 100%;
  padding: 32px;
  text-align: center; 
  img {
    opacity: .6;
  }
}

ul.gallery {
  margin: 0;
}

.post-list {
  li:first-child {
    ul.gallery:before {
      display: none;
    }
    ul.gallery {
      margin: 32px 0 96px 0;
          @include media-query($on-palm) {
      margin: 0 0 32px 0;
    } 
    }
  }
  ul.gallery {
    margin: 64px 0;
    @include media-query($on-palm) {
      margin: 0 0 32px 0;
    } 
  }
}

ul.gallery {
  img {
    display: block;
    margin: 0 auto;
  }
  li {
    box-sizing: border-box;
    display: block;
    margin: 16px 0;
    text-align: center;
    @include media-query($on-palm) {
      margin: 8px 0;
    }
  }
}

.still_lyfe ul.gallery {
  &:after,
  &:before,
   {
    content: '\25F2';
    color: magenta;
    opacity: 1;
    font-size: 16px;
    text-align:center;
    margin: 0 auto;
    display: block;
  }
  &:after {
     content: '\25F0';
     color: yellow;
  }
}

ul.gallery.office_air {
  li {
    margin: 32px 0;
  }
}